<div data-ng-controller="MatchListEditorCtrl" data-ng-init="requiresLogin()">
    <div>
        <md-toolbar layout="row" layout-align="center">
            <div style="padding-top:15px;">
                <span>경기 일정 편집</span>
            </div>
        </md-toolbar>
    </div>
    <md-divider></md-divider>
    <div style="padding-left:20px;">
        <h3>경기 일정 삭제</h3>
        <form data-ng-submit="removeMatchForm()" name="removeForm">
            <md-input-container>
                <label>Season</label>
                <md-select data-ng-model="removeMatch.season">
                    <md-option data-ng-repeat="season in seasons" data-ng-value="season">
                        {{ season }}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Month</label>
                <md-select data-ng-model="removeMatch.month">
                    <md-option data-ng-repeat="month in months" data-ng-value="month">
                        {{ month }}
                    </md-option>
                </md-select>
            </md-input-container>
            <div style="display:inline;">
                <md-button type="submit" class="md-accent md-raised md-hue-2">삭제</md-button>
            </div>
        </form>
        <div>
            <div data-ng-show="removedMatchNumber">
                Database에서 {{ removeMatch.season }} {{ removeMatch.month }}월 경기, {{ removedMatchNumber }}개의 다큐먼트가 성공적으로 삭제되었습니다.
            </div>
            <div data-ng-show="errorMessage">
                {{ errorMessage }}
            </div>
        </div>
    </div>
    <div style="padding-left:20px;">
        <h3>경기 일정 저장</h3>
        <form data-ng-submit="saveMatchForm()" name="saveForm">
            <md-input-container>
                <label>Year</label>
                <md-select data-ng-model="saveMatch.year">
                    <md-option data-ng-repeat="year in years" data-ng-value="year">
                        {{ year }}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Month</label>
                <md-select data-ng-model="saveMatch.month">
                    <md-option data-ng-repeat="month in months" data-ng-value="month">
                        {{ month }}
                    </md-option>
                </md-select>
            </md-input-container>
            <div style="display:inline;">
                <md-button type="submit" class="md-raised md-primary">저장</md-button>
            </div>
        </form>
        <div>
            <div data-ng-show="savedMatchResponse">
                Database에 {{ saveMatch.year }}년 {{ saveMatch.month }}월 경기가 성공적으로 저장되었습니다.
            </div>
            <div data-ng-show="errorMessage">
                {{ errorMessage }}
            </div>
        </div>
    </div>
</div>