<!--<section data-ng-controller="MatchesCtrl" data-ng-init="makeMatchListArray();">-->
    <!--<div>-->
        <!--{{ matchlist }}-->
    <!--</div>-->
    <!--<md-card>-->
        <!--<md-toolbar class="md-table-toolbar md-default">-->
            <!--<div class="md-toolbar-tools">-->
                <!--<span>경기 일정</span>-->
            <!--</div>-->
        <!--</md-toolbar>-->
        <!--<div>-->
            <!--<small>{{ matchlist.matchDay }}</small>-->
        <!--</div>-->
        <!--<md-table-container>-->
            <!--<table md-table>-->
                <!--<thead md-head>-->
                    <!--<tr md-row>-->
                        <!--<th md-column><span>리그</span></th>-->
                        <!--<th md-column><span>시간</span></th>-->
                        <!--<th md-column><span>홈팀 vs 원정팀</span></th>-->
                        <!--<th md-column><span>경기장</span></th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody md-body>-->
                    <!--<tr md-row data-ng-repeat="todayList in todayMatchList">-->
                        <!--<td md-cell>{{ todayList.league }}</td>-->
                        <!--<td md-cell>{{ todayList.matchTime }}</td>-->
                        <!--<td md-cell>-->
                            <!--{{ todayList.homeTeam }}&nbsp;-->
                            <!--(&nbsp;{{ todayList.homeScore }}-->
                            <!--&nbsp;{{ todayList.matchState }}&nbsp;-->
                            <!--{{ todayList.awayScore }}&nbsp;)-->
                            <!--&nbsp;{{ todayList.awayTeam }}-->
                        <!--</td>-->
                        <!--<td md-cell>{{ todayList.place }}</td>-->
                    <!--</tr>-->
                    <!--<tr md-row data-ng-show="todayMatchList != undefined && todayMatchList[0].homeTeam == null">-->
                        <!--<td md-cell></td>-->
                        <!--<td md-cell></td>-->
                        <!--<td mg-cell>오늘은 경기가 없습니다.</td>-->
                        <!--<td md-cell></td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</md-table-container>-->
    <!--</md-card>-->
<!--</section>-->