<div data-ng-controller="MonthlyMatchesCtrl">
    <md-toolbar layout="row" layout-align="center">
        <div style="padding-top:15px;">
            <span>경기 일정</span>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table>
            <thead md-head>
            <tr md-row>
                <th md-column><span>날짜</span></th>
                <th md-column><span>시간</span></th>
                <th md-column><span>홈팀 vs 원정팀</span></th>
                <th md-column><span>경기장</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row data-ng-repeat="match in monthlyMatches">
                <td md-cell>{{ match.date }}</td>
                <td md-cell>{{ match.time }}</td>
                <td md-cell>
                    {{ match.homeTeam }}&nbsp;
                    (&nbsp;{{ match.homeScore }}
                    &nbsp;{{ match.state }}&nbsp;
                    {{ match.awayScore }}&nbsp;)
                    &nbsp;{{ match.awayTeam }}
                </td>
                <td md-cell>{{ match.place }}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>