<div layout="column" ng-cloak="" class="md-inline-form">
    <div layout-padding="" style="padding-bottom:0;">
        <form  action="/login" method="post" name="loginForm" style="padding-bottom:0;">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-xs="">
                    <label>아이디</label>
                    <input type="text" name="username">
                </md-input-container>
                <md-input-container class="md-block" flex-xs="">
                    <label>비밀번호</label>
                    <input type="password" name="password">
                </md-input-container>
            </div>
            <section layout="row" layout-sm="column" layout-align="end" layout-wrap="">
                <md-button type="submit" class="md-raised">
                    로그인
                </md-button>
            </section>
        </form>
    </div>
</div>
<div>
    <section layout="row" layout-sm="column" layout-align="end" layout-wrap="">
        <small style="padding-top:8px;color:darkorange;">최초 가입시 <span style="color:red;">50,000</span> 코인 지급</small>
        <md-button class="md-primary" ui-sref="signup" style="margin-top:0;">회원가입</md-button>
    </section>
</div>