<div data-ng-controller="SignupCtrl" layout="column" ng-cloak="" class="md-inline-form">
    <div layout-padding="">
        <div>
            <form action="/signup" method="post" name="signupForm">
                <div layout-md="row">
                    <md-input-container>
                        <label>사용자 선택</label>
                        <md-select data-ng-model="role" name="role">
                            <md-option data-ng-repeat="role in userRoles" data-ng-value="role.en">
                                {{ role.kr }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-md="">
                        <label>아이디</label>
                        <input type="text" name="username">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-md="">
                        <label>비밀번호</label>
                        <input type="password" name="password">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-md="">
                        <label>이름</label>
                        <input type="text" name="fullName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-md="">
                        <label>이메일</label>
                        <input type="text" name="email">
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column" layout-align="end" layout-wrap="">
                    <md-button type="submit" class="md-raised md-primary">
                        가입하기
                    </md-button>
                </div>
            </form>
        </div>
    </div>
</div>