<div ng-controller="ChargingCtrl as cc" class="priceMultiColumn" data-ng-init="requiresLogin();">
    <div>
        <md-toolbar layout="row" layout-align="center">
            <div style="padding-top:15px;">
                <span>충전소</span>
            </div>
        </md-toolbar>
    </div>
    <md-divider></md-divider>
    <div>
        <md-chips flex layout="low">
            <div flex="25">
                <md-chip>선택</md-chip>
            </div>
            <div flex="25">
                <md-chip>결제금액</md-chip>
            </div>
            <div flex="25">
                <md-chip>충전코인</md-chip>
            </div>
            <div flex="25">
                <md-chip>마일리지</md-chip>
            </div>
        </md-chips>
        <!--It's same as the code "$scope.selectedChargingPrice = {};" is in the paymentDialog.client.controller.js.-->
        <md-radio-group data-ng-model="selectedChargingPrice">
            <div data-ng-repeat="price in cc.chargingPrices" class="row">
                <div flex layout="row" layout-padding layout-align="start center"  style="height:50px;">
                    <md-radio-button flex data-ng-value="price" class="md-primary"
                                     data-ng-click="selectChargingPrice(price.cost)" style="margin:0;"></md-radio-button>
                    <div flex style="max-width:200px;">
                        {{ price.cost | number }}원
                    </div>
                    <div flex style="max-width:200px;">
                        {{ price.chargingCoin | number }} coin
                    </div>
                    <div flex style="max-width:200px;">
                        {{ price.mileage | number }} coin
                    </div>
                </div>
            </div>
        </md-radio-group>
        <md-divider></md-divider>
        <div class="summary" flex layout="row" layout-align="space-between center" style="margin:0 10px 10px 10px;">
            <div flex-initial>
                <span class="title">구매 금액</span>&nbsp;:&nbsp;
                <span class="md-checked">{{ selectedChargingPrice.cost | number }}원</span>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout-padding>
        <h3 style="margin:0;">결제방법 선택</h3>
        <!--It's same as the code "$scope.selectedPaymentWay = '';" is in the paymentDialog.client.controller.js.-->
        <md-radio-group data-ng-model="selectedPaymentWay" style="padding:0;">
            <div layout="row">
                <md-radio-button data-ng-click="selectPaymentWay('일반결제')" value="creditCard" style="height:30px;margin:23px 50px 0 0;padding-bottom:0;">
                    <div>
                        신용카드
                    </div>
                </md-radio-button>
                <md-input-container data-ng-show="selectedPaymentWay === 'creditCard'" style="margin-bottom:0;">
                    <label>카드사 선택</label>
                    <!--It's same as the code "$scope.selectedCardCompany = '';" is in the paymentDialog.client.controller.js.-->
                    <md-select data-ng-model="selectedCardCompany">
                        <md-option data-ng-repeat="cardCompany in cc.cardCompanies" data-ng-click="selectCardCompany($index)" data-ng-value="cardCompany">
                            {{ cardCompany }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <md-radio-button data-ng-click="selectPaymentWay('계좌이체')" value="bankTransfer" style="height:30px;margin:23px 50px 0 0;padding-bottom:0;">
                    <div>
                        계좌이체
                    </div>
                </md-radio-button>
                <md-input-container data-ng-show="selectedPaymentWay === 'bankTransfer'" style="margin-bottom:0;">
                    <label>은행 선택</label>
                    <!--It's same as the code "$scope.selectedBank = '';" is in the paymentDialog.client.controller.js.-->
                    <md-select data-ng-model="selectedBank">
                        <md-option data-ng-repeat="bank in cc.banks" data-ng-click="selectBank($index)" data-ng-value="bank">
                            {{ bank }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" style="margin-top:26px;">
                <md-radio-button data-ng-click="selectPaymentWay('휴대폰결제')" value="cellPhone">휴대폰결제</md-radio-button>
            </div>
        </md-radio-group>
        <div class="md-padding" ng-controller="PaymentDialogCtrl as ctrl">
            <md-button class="md-warn md-raised payment-dialog-open-button" ng-click="ctrl.showDialog($event)">
                다음단계 &rArr;
            </md-button>
            <script type="text/ng-template" id="paymentDialog.client.view.html">
                <div role="dialog" layout="column" layout-align="center center">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>결제시스템</h2>
                        </div>
                    </md-toolbar>
                    <div class="payment-dialog-content">
                        <div layout="column" ng-cloak="" style="height:100%;margin:5px 0;background-color:lightskyblue;">
                            <md-content layout-padding="">
                                <div>
                                    <b>판매자</b>&nbsp;&nbsp;&nbsp;<span style="color:dimgrey;">㈜ 이토</span>
                                </div>
                                <div>
                                    <b>결제금액</b>&nbsp;&nbsp;&nbsp;<span style="color:dimgrey;">{{ ctrl.chargingPrice | number }}원</span>
                                </div>
                            </md-content>
                        </div>
                        <div data-ng-show="ctrl.paymentWay === '일반결제'">
                            <div layout-padding>
                                <b>{{ ctrl.cardCompany }}</b>&nbsp;{{ ctrl.paymentWay }} 서비스입니다.
                            </div>
                            <div layout="column" ng-cloak="" style="height:100%;margin:5px 0;">
                                <md-content layout-padding="" style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;">
                                    <div>
                                        <form action="" method="post" name="cardInfo">
                                            <div layout-gt-md="row">
                                                <small style="font-size:70%;color:darkslategray;">
                                                    고객님의 카드번호를 입력해 주세요.
                                                </small>
                                                <md-input-container class="md-block" flex-gt-xs="">
                                                    <label style="font-size:90%;">카드번호</label>
                                                    <input type="text" data-ng-model="ctrl.cardNumbers[0]" name="cardNumber1">
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-xs="">
                                                    <input type="text" data-ng-model="ctrl.cardNumbers[1]" name="cardNumber2">
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-xs="">
                                                    <input type="text" data-ng-model="ctrl.cardNumbers[2]" name="cardNumber3">
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-xs="">
                                                    <input type="text" data-ng-model="ctrl.cardNumbers[3]" name="cardNumber4">
                                                </md-input-container>
                                            </div>
                                            <div layout-gt-md="row">
                                                <small style="font-size:70%;color:darkslategray;">
                                                    카드 뒷면의 숫자 중 뒤 3자리를 입력해 주세요.
                                                </small>
                                                <md-input-container class="md-block" flex-gt-xs="">
                                                    <label style="font-size:90%;">CVC번호</label>
                                                    <input type="text" data-ng-model="ctrl.cardCVC" name="cvcNumber">
                                                </md-input-container>
                                            </div>
                                            <div layout="row" class="payment-dialog-button">
                                                <md-button md-autofocus flex class="md-primary md-raised" data-ng-click="ctrl.sendPaymentInfo();">
                                                    결제
                                                </md-button>
                                                <md-button md-autofocus flex class="md-raised" data-ng-click="ctrl.closeDialog()">
                                                    취소
                                                </md-button>
                                            </div>
                                        </form>
                                    </div>
                                </md-content>
                            </div>
                        </div>
                        <div data-ng-show="ctrl.paymentWay === '계좌이체'">
                            <div layout-padding>
                                <b>{{ ctrl.bank }}</b>&nbsp;{{ ctrl.paymentWay }} 서비스입니다.
                            </div>
                            <div layout="column" ng-cloak="" style="height:100%;margin:5px 0;">
                                <md-content layout-padding="" style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;">
                                    <div>
                                        <form action="" method="post" name="accountInfo">
                                            <div layout-gt-md="row">
                                                <small style="float:left;font-size:70%;color:darkslategray;">
                                                    고객님의 계좌번호를 '-'없이 입력해 주세요.
                                                </small>
                                                <md-input-container class="md-block" flex-gt-xs="">
                                                    <label style="font-size:90%;">계좌번호</label>
                                                    <input type="text" data-ng-model="ctrl.accountNumber" name="accountNumber">
                                                </md-input-container>
                                            </div>
                                            <div layout-gt-md="row">
                                                <small style="padding-right:20%;font-size:70%;color:darkslategray;">
                                                    비밀번호를 입력해 주세요.
                                                </small>
                                                <md-input-container class="md-block" flex-gt-xs="">
                                                    <label style="font-size:90%;">비밀번호</label>
                                                    <input type="text" data-ng-model="ctrl.accountPwd" name="passwordNumber">
                                                </md-input-container>
                                            </div>
                                            <div layout="row" class="payment-dialog-button">
                                                <md-button md-autofocus flex class="md-primary md-raised" data-ng-click="ctrl.sendPaymentInfo();">
                                                    결제
                                                </md-button>
                                                <md-button md-autofocus flex class="md-raised" data-ng-click="ctrl.closeDialog()">
                                                    취소
                                                </md-button>
                                            </div>
                                        </form>
                                    </div>
                                </md-content>
                            </div>
                        </div>
                        <div data-ng-show="ctrl.paymentWay === '휴대폰결제'">
                            <div layout-padding>
                                {{ ctrl.paymentWay }} 서비스는 현재 준비중입니다.. ㅠ_ㅠ
                            </div>
                            <div layout="column" ng-cloak="" style="height:100%;margin:5px 0;">
                                <md-content layout-padding="" style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;">
                                    <div>
                                        <form action="" method="post" name="accountInfo">
                                            <div layout="row" class="payment-dialog-button">
                                                <md-button md-autofocus flex class="md-raised" ng-click="ctrl.closeDialog()">
                                                    취소
                                                </md-button>
                                            </div>
                                        </form>
                                    </div>
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>
            </script>
        </div>
    </div>
</div>