<div class="avatar-menu-example" aria-label="Select your favorite avatar." role="listbox">
    <div class="avatar-menu-item"
         data-ng-class="{selected : avatar == panelCtrl.favoriteAvatar}"
         aria-selected="{{avatar == panelCtrl.favoriteAvatar}}"
         tabindex="-1" role="option"
         data-ng-repeat="avatar in panelCtrl.avatarImages"
         data-ng-click="panelCtrl.selectAvatar(avatar);">
        <img src="{{ avatar }}" alt="avatarImage">
    </div>
</div>

<!--<li class="thumbnail" ng-repeat="image in product.images track by $index" -->
    <!--ng-click="gallery.setCurrent($index)">-->
    <!--<img ng-src="{{image}}" />-->
<!--</li>-->
<!--app.controller('GalleryController', function(){-->
    <!--this.setCurrent = function(newGallery){-->
        <!--this.current = newGallery || 0;-->
    <!--};-->
<!--});-->