<section data-ng-controller="ArticlesCtrl" data-ng-init="requiresLogin();">
    <div class="md-padding">
        <h1>새 글 작성하기</h1>

        <!-- For the Avatar panel -->
        <div data-ng-controller="AvatarPanelCtrl" class="md-padding" ng-hide="true">
            <div>{{ avatarImages[0] }}</div>
            <div layout="row">
                <div>
                    <md-button class="md-primary md-raised avatar-menu-open-button"
                               data-ng-click="avatarCtrl.showMenu($event)">
                        아바타 고르기
                    </md-button>
                    <p>니가 고른 아바타: {{ avatarCtrl.selected.favoriteAvatar }}</p>
                    <img src="{{ avatarCtrl.selected.favoriteAvatar }}" alt="">
                </div>
            </div>
        </div>
        <!-- -->

        <form data-ng-submit="create();" novalidate>
            <div>
                <label for="articleTitle">제목</label>
                <div>
                    <input type="text" data-ng-model="title" id="articleTitle" placeholder="제목" required>
                </div>
            </div>
            <div>
                <label for="articleContent">내용</label>
                <div>
                    <textarea data-ng-model="content" id="articleContent" cols="30" rows="10" placehold="내용"></textarea>
                </div>
            </div>
            <!--<div>-->
                <!--<input type="file" ngf-select data-ng-model="file" ngf-max-size="10MB">-->
                <!--<img ngf-thumbnail="file" style="width:50px;">-->
            <!--</div>-->
            <div>
                <fieldset>
                    <legend>파일 업로드</legend>
                    <input type="file" ngf-select data-ng-model="picFile" name="file"
                           ngf-max-size="10MB" ngf-model-invalid="errorFile">
                    <img ngf-thumbnail="picFile" style="width:50px;">
                    <button data-ng-click="picFile = null" data-ng-show="picFile">취소</button>
                    <br>
                    <span class="progress" ng-show="picFile.progress >= 0">
                        <div style="width:{{picFile.progress}}%" data-ng-bind="picFile.progress + '%'"></div>
                    </span>
                    <span data-ng-show="picFile.result">Upload Successful</span>
                    <span class="err" data-ng-show="errorMsg">{{errorMsg}}</span>
                </fieldset>
            </div>
            <section layout="row" layout-sm="column" layout-align="end" layout-wrap="">
                <md-button type="submit" data-ng-click="uploadPic(picFile)" class="md-raised md-primary">등록</md-button>
                <md-button ui-sref="articles">목록으로</md-button>
            </section>
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</section>