<section data-ng-controller="ArticlesCtrl" data-ng-init="findOne();">
    <div class="md-padding">
        <h1>글 수정</h1>
        <form data-ng-submit="update()" novalidate>
            <div>
                <label for="articleTitle">제목</label>
                <div>
                    <input type="text" data-ng-model="article.title" id="articleTitle" placeholder="제목" required>
                </div>
            </div>
            <div>
                <label for="articleContent">내용</label>
                <div>
                    <textarea data-ng-model="article.content" id="articleContent" cols="30" rows="10" placehold="내용"></textarea>
                </div>
            </div>
            <section layout="row" layout-sm="column" layout-align="end" layout-wrap="">
                <md-button type="submit" class="md-raised md-primary">수정 등록</md-button>
                <md-button class="md-warn" data-ng-href="#!/articles/{{ article._id }}">취소</md-button>
            </section>
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</section>