<div data-ng-controller="ArticlesCtrl" data-ng-init="find();findOne();" data-ng-cloak="" layout-gt-sm="row" layout="column">
    <div flex-gt-sm="100" flex="">
        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>자유게시판</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list flex="">
                <md-subheader class="md-no-sticky">
                    <section layout="row" layout-sm="column" layout-align="end" layout-wrap="">
                        <md-button class="md-primary" ui-sref="articleCreate">글쓰기</md-button>
                    </section>
                    <p data-ng-hide="!articles || articles.length">
                        게시판에 글이 없습니다.
                    </p>
                </md-subheader>
                <md-divider></md-divider>
                <md-list-item class="md-2-line" data-ng-repeat="article in articles" data-ng-href="#!/articles/{{ article._id }}">
                    <!--<img ng-src="{{ article.face }}?{{ $index }}" class="md-avatar" alt="{{ article.creator }}">-->
                    <img class="md-avatar">
                    <div class="md-list-item-text" layout="column">
                        <p>
                            <span data-ng-bind="article.creator.fullName"></span> | <small data-ng-bind="article.created | date: 'yyyy-MM-dd h:mm:ss a'"></small>
                        </p>
                        <h3 data-ng-bind="article.title"></h3>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>