<section data-ng-controller="ArticlesCtrl" data-ng-init="requiresLogin();findOne();">
    <div class="md-padding">
        <div class="md-padding">
            <div>
                <h1 data-ng-bind="article.title"></h1>
            </div>
            <div layout="row" layout-sm="column" layout-align="end" layout-wrap="">
                <p>
                    <span data-ng-bind="article.creator.fullName"></span> | <small data-ng-bind="article.created | date: 'yyyy-MM-dd h:mm:ss a'"></small>
                </p>
            </div>
            <div>
                <p data-ng-bind="article.content"></p>
            </div>
            <div>
                <fieldset>
                    <legend>파일 다운로드</legend>
                    <a href="/uploadFiles/{{ article.file }}" download>
                        {{ article.file }}
                    </a>
                </fieldset>
            </div>
        </div>
        <section layout="row" layout-sm="column" layout-align="end" layout-wrap="">
            <div data-ng-show="authentication.user._id === article.creator._id">
                <md-button class="md-primary" href="/#!/articles/{{ article._id }}/edit">수정</md-button>
                <md-button class="md-accent" href="#" data-ng-click="delete()">삭제</md-button>
            </div>
            <md-button ui-sref="articles">목록으로</md-button>
        </section>
    </div>
</section>