<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/lib/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/lib/angular-material-data-table/dist/md-data-table.min.css">
    <style type="text/css">
        body {
            width:100%;
            padding:0;
            margin:0;
            box-sizing: border-box;
            background: url(img/backgroundTotoro.jpg) no-repeat center center fixed;
            background-size: cover;
        }
        .md-block {
            margin-bottom: 0px;
            height: 35px;
        }
        md-content.md-default-theme, md-content {
            background-color: rgba(163, 160, 160, 0.45);
        }
        md-card {
            opacity: 0.9;
        }

        /* Button shadow those are overlapped on angular-material.css */
        .md-button.md-raised:not([disabled]) {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4); }
        .md-button:not([disabled]).md-raised.md-focused, .md-button:not([disabled]).md-fab.md-focused {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4); }
        .md-button:not([disabled]).md-raised:active, .md-button:not([disabled]).md-fab:active {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55); }

        /* md-subheader that is overlapped on angular-material.css */
        .md-subheader .md-subheader-inner {
            display: block;
            padding: 0; }

        /* For the Avatar Panel */
        .avatar-menu-example {
            background: white;
            border-radius: 4px;
            box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
            0 13px 19px 2px rgba(0, 0, 0, 0.14),
            0 5px 24px 4px rgba(0, 0, 0, 0.12);
            width: 256px;
        }
        .avatar-menu-item {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: 48px;
            padding: 0 16px;
            position: relative;
            transition: background 0.15s linear;
            width: auto;
        }
        .avatar-menu-item:hover,
        .avatar-menu-item:focus {
            background-color: rgb(238, 238, 238);
        }
        .avatar-menu-item.selected {
            color: rgb(16, 108, 200);
        }

        /* For price buttons */
        .priceMultiColumn {
            margin-bottom: 20px;
        }
        .priceMultiColumn h2 {
            margin-left: 15px;
        }
        .priceMultiColumn p {
            width: 400px;
            margin-top: 10px;
            margin-left: 10px;
            padding-top: 10px;
            border-top: 2px solid #ddd;
        }
        .priceMultiColumn .md-checked {
            background-color: #ECFAFB;
            border-radius: 2px;
        }
        .priceMultiColumn md-button.md-raised, .priceMultiColumn button.md-raised {
            width: 200px;
        }
        .priceMultiColumn .row {
            border-bottom: 1px dashed #ddd;
        }
        .priceMultiColumn div.row:last-child {
            border-bottom: 0px dashed #ddd;
        }
        .priceMultiColumn .summary {
            width: 100%;
            padding-top: 10px;
            margin-left: 25px;
            margin-top: 20px;
            margin-bottom: -5px;
        }
        .priceMultiColumn .title {
            font-weight: bolder;
        }
        .priceMultiColumn .selectedUser .md-checked {
            padding: 8px;
            width: 100px;
        }

        /* For the Payment Dialog Panel */
        .payment-dialog-example {
            background: white;
            border-radius: 4px;
            box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
            0 13px 19px 2px rgba(0, 0, 0, 0.14),
            0 5px 24px 4px rgba(0, 0, 0, 0.12);
            width: 500px;
        }
        .payment-dialog-content {
            padding: 0 15px;
            width: 100%;
        }
        .payment-dialog-button {
            width: 100%;
        }
    </style>
</head>
<body data-ng-cloak>
    <header data-ng-controller="AuthenticationCtrl">
        <md-content class="md-padding" >
            <div layout="column" layout-gt-xs="row" >
                <md-card flex >
                    <div layout="column" layout-gt-xs="row">
                        <div id="logo" style="width:70%;height:auto;padding:20px;">
                            <a ui-sref="home">
                                <img src="/img/logo_small.jpeg" alt="logo" style="width:100%;height:auto;">
                            </a>
                        </div>
                        <div class="md-padding" style="width:100%;height:auto;margin-top:6%;" layout="row" layout-sm="column" layout-align="center" layout-wrap="">
                            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                                <md-nav-item md-nav-sref="home" name="login">홈</md-nav-item>
                                <md-nav-item md-nav-sref="match" name="match">경기</md-nav-item>
                                <md-nav-item md-nav-sref="articles" name="articles">커뮤니티</md-nav-item>
                                <md-nav-item md-nav-sref="charging" name="charging">충전소</md-nav-item>
                                <md-nav-item md-nav-sref="admin" name="admin" data-ng-if="userRole">관리자</md-nav-item>
                            </md-nav-bar>
                        </div>
                    </div>
                </md-card>
                <md-card flex flex-gt-xs="25">
                <% if (!user) { %>
                    <div id="login" ui-view="headerSection"></div>
                <% } else { %>
                    <div class="md-padding">
                        <div>
                            <h3>{{ name }}님, 반갑습니다!</h3>
                        </div>
                        <div>
                            <small>
                                보유 코인&nbsp; &nbsp; &nbsp; &nbsp;
                                <img src="/img/coins.png" alt="coinImage" style="width:15px;height:auto;padding-right:6px;">
                                <span style="font-size:15px;font-weight:bold;">{{ coin | number }}</span>
                                coin
                            </small>
                        </div>
                        <div>
                            <section layout="row" layout-sm="column" layout-align="end" layout-wrap="">
                                <md-button ui-sref="charging" class="md-raised md-primary">
                                    코인충전
                                </md-button>
                                <md-button href="/logout" class="md-raised md-warn">
                                    로그아웃
                                </md-button>
                            </section>
                        </div>
                    </div>
                <% } %>
                </md-card>
            </div>
        </md-content>
    </header>
    <!--<section>-->
        <!--<md-card flex flex-gt-xs="40">-->
            <!--<div ui-view="articleSectionOne"></div>-->
        <!--</md-card>-->
        <!--<div data-ng-controller="ArticlesCtrl" data-ng-init="find();" ui-view="articleSectionTwo"></div>-->
    <!--</section>-->
    <section>
        <md-content class="md-padding">
            <div layout="column" layout-gt-xs="row" >
                <md-card flex flex-gt-xs="40">
                    <div ui-view="articleSectionOne"></div>
                </md-card>
                <md-card flex>
                    <div data-ng-controller="ArticlesCtrl" data-ng-init="find();" ui-view="articleSectionTwo"></div>
                </md-card>
            </div>
        </md-content>
    </section>
    <footer>
        <md-content class="md-padding">
            <div layout="column" layout-gt-xs="row" >
                <md-card flex>
                    <h3>This is the Footer section</h3>
                </md-card>
            </div>
        </md-content>
    </footer>

    <script type="text/javascript">
        window.user = <%- user || 'null' %>;
    </script>

    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/lib/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/lib/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="/lib/angular-material-data-table/dist/md-data-table.min.js"></script>

    <script type="text/javascript" src="/authentication/authentication.client.module.js"></script>
    <script type="text/javascript" src="/authentication/services/authentication.client.service.js"></script>
    <script type="text/javascript" src="/authentication/controllers/authentication.client.controller.js"></script>
    <script type="text/javascript" src="/authentication/controllers/signup.client.controller.js"></script>
    <script type="text/javascript" src="/authentication/config/authentication.client.routes.js"></script>

    <script type="text/javascript" src="/articles/articles.client.module.js"></script>
    <script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
    <script type="text/javascript" src="/articles/controllers/avatarPanel.client.controller.js"></script>
    <script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
    <script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>

    <script type="text/javascript" src="/charging/charging.client.module.js"></script>
    <script type="text/javascript" src="/charging/config/charging.client.routes.js"></script>
    <script type="text/javascript" src="/charging/controllers/charging.client.controller.js"></script>
    <script type="text/javascript" src="/charging/controllers/paymentDialog.client.controller.js"></script>
    <script type="text/javascript" src="/charging/services/selectedIndex.client.service.js"></script>
    <script type="text/javascript" src="/charging/services/paymentCharging.client.service.js"></script>

    <script type="text/javascript" src="/matches/matches.client.module.js"></script>
    <script type="text/javascript" src="/matches/services/matches.client.service.js"></script>
    <script type="text/javascript" src="/matches/controllers/monthlyMatches.client.controller.js"></script>

    <script type="text/javascript" src="/admin/admin.client.module.js"></script>
    <script type="text/javascript" src="/admin/config/admin.client.routes.js"></script>
    <script type="text/javascript" src="/admin/controllers/matchListEditor.client.controller.js"></script>

    <script type="text/javascript" src="/application.js"></script>
</body>
</html>